
/* Using Source Sans Pro and Poppins as font for the page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Source+Sans+Pro:wght@400;600;700&display=swap');
html,
body,
#root,
.app
.content{
    /* Setting height and width of the main page to 100% */
    height: 100%; 
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
.app{
    display: flex;
    /* Allows the sidebar and topbar-main to be side-by-side */
    position: relative;
}

/* SCROLLBAR SETTINGS */
::-webkit-scrollbar{
    width: 10px; 
    /* sets the width for the scrollbar on the page */
}

/* Adds Tracking to the scrollbar */
::-webkit-scrollbar-track{
    background: #ffffff;
    /* sets color for the scrollbar */
}

/* Matching with the background */
::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}
