@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app
.content{
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
.app{
    display: flex;
    position: relative;
}

/* Sets width for the scrollbar  */
::-webkit-scrollbar{
    width: 10px;
}

/* Adds Tracking to the scrollbar */
::-webkit-scrollbar-track{
    background: #e0e0e0;
}

/* Matching with the background */
::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}
